.btn-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #693F89; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 1000;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.cabecalho h2 {
    font-size: 2rem;
}

.menu ul {

    display: flex;
    gap: 3px;

}

.menu ul li {
    /* transition: 0.5s ease-in-out; */
    padding: 0 20px;
    font-size: 2rem;
    width: 10rem;


}

.menu ul a:hover {
    transition: 0.2s ease-in-out;
    color: white;
    text-shadow: 0 0 4px yellow;

    padding: 0 0;

}