.sobre{
    
    position: relative;
    width: 100%;
    background-color: #693F89;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    
}
.sobre h2{
    margin-top: 10px;
    font-size: 4rem;
    color: white;
    margin-bottom: 10px;
}

.sobre .container-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.moldura-da-foto{
    position: absolute;
    width: 22%;
    height: 70%;
    left: 10%;
    top: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    transition: 1s ease-in-out;
}
.container-sobre img:hover{
    transform: rotate(345deg);
}
.container-sobre img{
    width: 95%;
}
.container-sobre p{
    font-size: 2rem;
}

.container-sobre .conteudo-sobre{
    position: absolute;
    width: 45%;
    right: 7%;
    font-size: 1.5rem;
    line-height: 3rem;
    top: 23%;
    text-align: start;
    color: white;
}
.container-sobre .conteudo-sobre p{
    margin-top: 0;

}

